auto-save-list
*.swp
*.#*
\#*#
*~
ido.last
config/emacs.d/session.*
congig/vim/.netrwhist
config/vim/bundle/*
config/xfce4/xfconf/xfce-perchannel-xml/thunar.xml
config/fluxbox/fbrun_history
config/fluxbox/log
config/fluxbox/lastwallpaper
.*#
