[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/amro/Desktop/Florence.desktop]
row=0
col=1

[57f8f4bc-abf4-655f-bf67-946fc0f9f25b]
row=1
col=0

[Trash]
row=5
col=0

[/]
row=6
col=0

[/home/amro]
row=4
col=0

