[Desktop Entry]
Type=Application
Exec=sh -c 'conky -c "$HOME/.conkyprogC"'
Icon=conky
Terminal=false
Name=Conky
Comment=A light and eye-candy dock and desklets for your desktop.
Comment[en]=Light and eye-candy filled dock and desklets for your desktop.
GenericName=Multi-purpose Dock and Desklets
Categories=System;
Name[en_GB]=Conky C
